@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    @Html.TextBoxFor(m => m.Search, new { @class = "px-4 py-2 border-0 rounded-lg w-96 shadow-lg", @placeholder = "Make your search..."})
    <button type="submit" class="bg-purple-400 shadow-lg px-4 py-2 rounded-lg text-white font-medium">Search</button>
</form>

@if(Model.Results.Count > 0) {
    <div class="bg-white p-5 mt-4 rounded-lg">
        <h2 class="text-xl">Search results</h2>
        <hr class="my-2" />
        <ul class="space-y-2">
            @foreach(var Result in Model.Results) {
                <li><strong class="capitalize">@Result.Name:</strong> @Result.ResultCountConverted</li>
            }
        </ul>
    </div>
}